.notification_dropdown {
    position: absolute;
    top: 49px;
    right: -30px !important;
    left: auto !important;
    padding-bottom:0;
    margin-top:0;
    border-top: none;
    box-shadow:10px 10px 55px -25px black;
    width: 360px;
    z-index: 1001;
}
.notification_dropdown.dropdown-menu.show {
    right: -30px !important;
    left: auto !important;
}
.dropdown.bootstrap-select.show .dropdown-menu.show{
    left: 0 !important;
    width: fit-content;
}
.customSelect .dropdown-menu{
    z-index: 20;
}
.notification-item {
    background-color: white;
    border-top: .5px solid rgba(0,0,0,.1);
    border-bottom: .5px solid rgba(0,0,0,.1);
}
.notification-item:hover {
    border-top: .5px solid #92a0aa;
    border-bottom: .5px solid #92a0aa;
    background:  #00000014;
}
.notification_unread{    
    font-weight: 700;
    background: #d9d9d9;
}
.notification_read{    
    font-weight: 500;
    background: white;
}
.notification_read img {
    opacity: .7;
}
.notification_read .notification_messages {
    color: grey;
}
.dropdown_item_container {
    height: 350px;
}
.reduce_height {
    height: 50px !important;
}
.notification_dropdown .notification_messages {
    font-weight: 600;
}
.notification_dropdown .notification_timestamp {
    font-weight: 600;
}
.notification_list {
    cursor:pointer;
}

.notification_right_pane  .notification_list {
    cursor:default;
}

.notification_list .active{
    background: #00000000;
    border-top: 1.15px solid #99999978;
    border-bottom: 1.15px solid #99999978;
}
.transparantBgLayer_noti {
    text-align: center;
    background-color: #eae2e126;
    padding: 10px;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9992!important;
    left: 0px;
    display: flex;
    visibility: visible;
    justify-content: center;
    align-items: center;
    top: 0px !important;
}

.notification_dropdown_title {
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    border-bottom:1px solid rgba(0,0,0,.1);
}

.notification_dropdown .dropdown-item {
    display:flex; 
    align-items: center;
    cursor: pointer;
    padding:5px;
    height: 75px;
}

.notification_dropdown .notification_separator {
    margin:0;
}

.notification_dropdown.dropdown-menu.show:before{
    position: absolute;
    top: -15px;
    left: 278px;
    display: inline-block;
    border-right: 35px solid transparent;
    border-bottom: 35px solid #fff;
    border-left: 35px solid transparent;
    content: '';
}

.notification_dropdown .notification_icons {
    width: 65px;
    height: 65px;
}

.notification_messages_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
    width: 75%;
    white-space: normal;
    color: black;
    font-size: 15px;
    letter-spacing: 0.5px;
    margin-left: 10px;
}

.notification_icons {
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification_messages {
    font-size:12.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-right:10px;
}

.transparantBgLayer_noti_desc{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eae2e126;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0px;
    top: 0px !important;
    width: 100%;
    height: 100%;
}

.notification_timestamp {
    color:#999999;
    font-size:12px;
}

.notification_read_status {
    width:10px;
    height:10px;
    background:#0064af;
    border-radius:100px;
    margin: 10px;
    padding:5px;
    align-self: flex-start;
    border:unset;
}

.notification_footer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: #0064af;
    box-shadow: 0px -13px 15px -20px black;
    font-weight: bold;
}

.arrow-up {
    width: 40px;
    height: 25px;
    display:none;
    position: absolute;
    overflow: hidden;
    z-index: 1001;
    margin-top: -8px;
    margin-left: -4px;
}

.hidden {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.arrow {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-top: 2px solid #0064af;
    border-right: 2px solid #0064af;
}

.arrow-right {
    transform: rotate(45deg);
}

/* Notification Page */

.content_blocks {
    width: 80%;
    margin: 30px auto;
}

.notificationMobileView {
    display: none;
}

.notification_checkbox {
    margin: 0 10px;
}

.notification_filters {
    display: inline-flex;
    align-items: center;
    padding:0 0 20px 0 ;
}

.notification_filters input:first-child {
    margin-left: 0;
    margin-right: 3px;
}

.notification_filters input, .notification_filters select{
    cursor: pointer;
}

.filter_sort {
    margin-left:10px;
}

.notification_panes {
    border:1px solid rgba(0,0,0,.1);
    min-height: 50vh;
    color: #bec6cc;
}
.emptyNotificationWrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.blank_notifications_page {
    display:none;
    position: absolute;
    left: 50%;
    top: 43%;
    font-size: 17px;
    transform: translate(-50%,-50%);
}

.notification_left_pane {
    height:500px;
    overflow:auto;
    border-right: 1px solid rgba(0,0,0,.1);
}

.notification_right_pane {
    height:500px;
    overflow:auto;
    padding: 3% 3%;
    display: inline-flex;
    background: white;
    color: black;
}

.notification-item {
    display:inline-flex;
    width:100%;
    padding: 10px;
    align-items: center;
}

.notification_header {
    display: inline-block;
    padding-right: 10px;
    height: 80px;
}

.notification_img {
    display: inline-flex;
    margin-right: 15px;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.notification_title {
    font-size: 15px;
    font-weight: bold;
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; */
}
.notiContent {
    display: none;
}
.notification_time {  
    margin-left: 20px;
}

.notification_time, .notification_date {
    color: #92a0aa;
    font-weight:500;
    font-size: 12px;
}  

.notification_body {
    margin: 35px 0px;
    margin-right: 0;
    font-size: 14px;
}

.notification_body img {
    height: unset !important;
}

.notification_icons {
    border-radius: 100px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 10px;
}

.noti_listing_icons {
    position: absolute;
    right: 0;
    margin-right: 15px;
    color: #999999;
    margin-top: 10px;
}

.noti_listing_icons i {
    font-size: 12.5px;
    padding: 5px;
}

.fa-ellipsis-v:hover {
    color: black;
}

.ellipsis_options {
    display: none;
    flex-direction: column;
    position: absolute;
    margin-left: -20px;
    margin-top: 0px;
    background: white;
    padding: 5px 0px;
    border-radius: 5px;
    color: black;
    font-size: 12.5px;
    border: 1px solid #999999;
}

.toggle_visibility_to_flex {
    display: flex;
}

.notification_delete {
    padding: 0 10px;
    font-weight: 500;
}

.notification_delete:hover {
    background: #00000014;
}

.noti_listing_icons .fa-star:hover {
    color: #FFAB19;
}

.markImportant {
    color: #FFAB19 !important;
}

.markEllipsisSelected {
    color: black;
}

/*.noti_listing_icons .star:before {*/

/*    content: "\f005";*/
/*    visibility: visible;*/
/*}*/

/* Styles for wrapping the search box */
.main {
    width: 50%;
    margin: 50px auto;
}

.search_btn {
    border: 1px solid #d6d6d6;
    border-radius: unset;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
/* Empty Wrapper */
.bellIconWrapperNoti {
    font-size: 58px;
}

@media only screen and (max-width: 1200px) {
    .content_blocks {
        width: 90%;
    }
}

/* Full columns width for Tabs */
@media only screen and (max-width: 1023px) {
    .expandCard {
        border: unset;
    }
    .divDeskView {
        display: none
    }
    .content_blocks{
        width:80%; 
        margin-top:20px; 
        margin-bottom: 50px;
        color: black;
    }
    .notification_header div {
        display:inline-flex;
        align-items:center;
        justify-content: space-between;
        width: 100%;
        margin-top:20px;
    }
    .notification_dropdown .dropdown-item {
        height: 65px;
    }
    .notification_dropdown {
        right: -53px;
    }
    .notification_body {
        margin-top: 20px;
    }
    .notification-items {
        justify-content: flex-start;
        margin-right: 20px;
    }
    .notification_messages_container {
        width: 100%;
        height:100%;
        justify-content: space-evenly;
        margin-left: 5px;
    }
    .aboutBannerSection, .content_blocks {
        visibility: visible;
    }
    .accordion .notification_messages_container {
        margin-left: 10px;
    }
    .accordion .notification_messages_container {
        width: 85%;
    }
    .notification_dropdown .notification_messages {
        font-size: 12px;
        line-height: 1.3;
        font-weight: 600;
    }
    .notification_dropdown .notification_timestamp {
        font-size: 12px;
        font-weight: 600;
    }
    .notification_right_pane {
        height:auto;
        margin-bottom:20px;
    }
    .notification_dropdown.dropdown-menu.show:before {
        left: 248px;
    }
    .card-body {
        padding: 1.25rem 25px;
        background: white;
    }
    .card-body img {
        width: 100%;
    }
    .noti_listing_icons {
        margin-top: 15px;
        z-index: 1;
    }
    .blank_notifications_page {
        top: 38%;
    }
}
@media only screen and (max-width: 991px) {
#desc_content{
    display:none;
}
.notiContent {
    display: block;
}
.notification_header {
    display: none !important;
}
.notification-item.active{
 border-bottom:none;
 align-items: flex-start;
}
.notiContent{
    padding: 10px;
}
.notiContent .notification_body{
    margin: 0px;
}
.notiContent .notification_list{
    /* margin: 0 10px; */
    /* width: calc(100% - 90px);
    float: right; */
    width: 100%;
    margin-left: 10px;
}
.notificationHeader{
    height: auto !important;
}
.notification_messages{
    overflow: auto;
    color: #343433 !important;
    font-weight:bolder;
    text-overflow: ellipsis;
    display: block;
    -webkit-line-clamp: unset;
    -webkit-box-orient: vertical;
}
}
@media only screen and (max-width: 480px) {
    .content_blocks {
        width: 90%;
    }
    .notification_filters input {
        margin-right: 0;
    }
    .notification_filters input:first-child {
        margin-left: 0;
    }
    .notification_dropdown.dropdown-menu.show:before {
        left: 232px;
    }
    .notification_dropdown {
        right: -25px;
        width: 315px;
    }
    .notification_filters {
        justify-content: flex-start;
        width: 100%;
        font-size: 13px;
    }
    .customSelect{
        width: 150px !important;
    }
    .customSelect *{
        font-size: 12px !important;
    }
    .customSelect .dropdown.bootstrap-select{
        width: 100% !important;
    }
}

@media only screen and (max-width: 320px) {
    .notification_dropdown.dropdown-menu.show:before {
        left: 177px;
    }
    .notification_dropdown {
        right: -44px;
        width: 280px;
    }
    .notification_filters:first-child {
        margin-left: 0;
    }
    .notification_filters {
        font-size: 12px;
    }
}
